{% extends 'main.html' %}
{% block content%}

<form method="POST" name="sentAnswer" id="Answer" class="form-row align-items-center justify-content-center">
        <div class="form-group col-md-6 ">

                <h1>Question ???</h1>
                <p></p>
                <input class="form-control" placeholder="Enter your answer" name="answer">
                <p></p>

                <input type="submit" value="Confirm" class="btn btn-primary">
        </div>
        </div>
</form>

{% with messages = get_flashed_messages() %}
{% if messages %}
{%for message in messages %}
<div class="alert alert-success" role="alert">
        <strong>{{message}}</strong>
</div>
{% endfor%}
{% endif %}

{% endwith %}
{% endblock content%}