
{% extends 'main.html' %}
{% block content%}

<form method="POST" name="sentAnswer" id="Answer" class="form-row align-items-center justify-content-center">
        <div class="form-group col-md-6 ">

                <h1>{{question}} </h1>
                {% if question_number<last_question-1 %}
                <h2>Current question: {{question_number+1}}</h2>
                {% else %}
                <h2>Game Over </h2>
                <h4>Your score is: {{score}}</h4>
                <a class="btn btn-primary "  href="{{ url_for('reset') }}">restart</a>
                {% endif %}
                <p></p>
                {% if question_number!=last_question-1 %}
                <input class="form-control" placeholder="Enter your answer" name="answer">
                <p></p>

                <input type="submit" value="Confirm" class="btn btn-primary">
                {% endif %}
        </div>
        </div>
</form>

{% with messages = get_flashed_messages() %}
{% if messages %}
        {%for message in messages %}
                {% if message=="Next Question" and question_number+1!=5 %}
                <div class="row align-items-center justify-content-center">

                        <div class="col-md-6 col-xs-10 alert alert-success" role="alert">
                                {% if good_answer %}
                                Good Answer :) </br>
                                {% endif %}
                                {% if not good_answer %}
                                Bad Answer :( </br>
                                {% endif %}
                                <strong>{{message}}</strong> </br>  Current score: {{score}}
                                
                        </div>
                </div>
                {% elif message=="Bad Answer" and question_number+1!=5%}
                <div class="row align-items-center justify-content-center">

                        <div class="col-md-6 alert alert-warning" role="alert">
                                <strong>Answer: {{user_answer}} is: {{message}} </strong>
                        </div>
                </div>                          
                {% elif message=="" %}  

                <div class="col-md-6 alert alert-warning" role="alert">
                Empty answer is bad answer, minus one point. Sorry...
                </div>
                
                {% elif message=="User already in leaderboard"%}
                <div class="row align-items-center justify-content-center">

                        <div class="col-md-6 alert alert-warning" role="alert">
                                <strong>{{message}}</strong>
                        </div>
                </div>                          
                {% elif message=="" %}  

                {% endif %}
        {% endfor%}
{% endif %}
<br>
<div class="row align-items-center justify-content-center">
<div class="col-md-6 " >
<div class="card">
        <div class="card-body">
                <h4 class="card-title">Live Leaderboard:</h4>
                
                Current winner is:
                {{ winner[0] }} 
                <br>
                
                {% for user, score in users %}
                
                {% if user==user_name %}
                <b> {{ users.index( [user,score] )+1 }}</b> .
                <b> {{user}} {{score}} </b> 
                <br>
                {% endif %}
                
                {% if user!=user_name %}
                {{ users.index( [user,score] )+1 }} .
                {{  user }}
                {{ score }} 
                <br>
                {% endif %}

                {% endfor %}


                
                <p class="card-text"></p>
        </div>
</div>
</div>
</div>

{% endwith %}
{% endblock content%}