{% extends 'main.html' %}
{% block content%}

<form method="POST" name="sentAnswer" id="Answer" class="form-row align-items-center justify-content-center">
        <div class="form-group col-md-6 ">

                <h1>{{question}} </h1>
                {% if question_number+1!=5 %}
                <h2>Current question: {{question_number+1}}</h2>
                {% else %}
                <h2>Game Over </h2>
                <p>Your score is: {{score}}</p>
                <a class="btn btn-primary "  href="{{ url_for('reset') }}">restart</a>
                {% endif %}
                <p></p>
                {% if question_number+1<5 %}
                <input class="form-control" placeholder="Enter your answer" name="answer">
                <p></p>

                <input type="submit" value="Confirm" class="btn btn-primary">
                {% endif %}
        </div>
        </div>
</form>

{% with messages = get_flashed_messages() %}
{% if messages %}
        {%for message in messages %}
                {% if message=="Correct" and question_number+1!=5 %}
                <div class="row align-items-center justify-content-center">

                        <div class="col-md-6 col-xs-10 alert alert-success" role="alert">
                                <strong>{{message}}</strong> Current score: {{score}}
                        </div>
                </div>
                {% elif message=="Bad Answer" and question_number+1!=5%}
                <div class="row align-items-center justify-content-center">

                        <div class="col-md-6 alert alert-warning" role="alert">
                                <strong>{{message}}</strong>
                        </div>
                </div>                          
                {% elif message=="" %}                      
                {% endif %}
        {% endfor%}
{% endif %}
<div class="card">
        <div class="card-body">
                <h4 class="card-title">Users</h4>
                
                
                {{check}}
                Players:
                
                {% for user, score in users %}
                {{ user }}
                {{ score }}
                points
                {% endfor %}


                
                <p class="card-text"></p>
        </div>
</div>



{% endwith %}
{% endblock content%}